<div class="atg_store_facetsGroup_options_catsub" id="facet_${facetGroupId}">
  <h5>${facetGroupTitle}</h5>
  <div id="${facetGroupId}">
    <ul dojoAttachPoint="containerNode" class="">
      
      <li class="atg_store_facetMore" dojoAttachPoint="showMoreNode">
        <a title="${expandFacetLabel}" href="" dojoAttachEvent="onclick:handleClick">${expandFacetLabel}</a>
      </li>
      <li class="atg_store_facetLess" dojoAttachPoint="showLessNode">
        <a title="${collapseFacetLabel}" href="" dojoAttachEvent="onclick:handleClick">${collapseFacetLabel}</a>
      </li>
    </ul>
  </div>
</div>